body {
    font: 1em system-ui, sans-serif;
    background-color: rgb(213, 216, 223);
}

.large {
    font-size: 2em;

}

.container {
  display: flex;
  list-style-type: none;
  background-image: url("images/Banner_Starfield.jpg");
  /*In case of no image*/
  color: white;
  background-color: black;
}

.container a {
  display: flex;
  color: white;
  background-color: black;
  float: left;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0 solid transparent;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container a:hover {
  outline: 0 solid transparent;
  border: 3px solid #41b6e6;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.vidContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.resIFrame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

img {
  max-width: 100%;
  height: auto;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

/*NEO Table Formatting*/
table#neoTable {
	border-collapse: collapse;
  width: 100%;
  display: block;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;  
}
table#neoTable caption {
	font-size: larger;
	padding: 1em;
}
table#neoTable td {
	padding: .5em;
  text-align: center;
}
table#neoTable thead tr {
	background: rgba(0, 0, 0, 0.85);
}
table#neoTable tbody { 
	vertical-align: middle;
}
table#neoTable tbody tr:nth-child(odd) { 
	background: rgba(0, 0, 0, 0.2);
}
table#neoTable tbody tr:hover {
	background: rgba(0, 0, 0, 0.7);
	color: white;
	cursor: pointer;
}
table#neoTable thead tr th a {
	text-decoration: none;
	color: white;
	background: black;
	padding: .5em;
	display: block;
}
table#neoTable thead tr th a:hover {
	background: rgb(50, 50, 50);
}


/*Check for screen sizes 700px and under*/
@media(min-width: 700px) {
  main {
    grid-template-columns: repeat(2, 1fr)
  }
}

/*Check for screen sizes 600px and under*/
@media all and (max-width: 600px) {

  .container {
    flex-wrap: wrap;
  }

  /*Form two columns*/
  .container > li {
    flex-basis: 50%;
  }
}

/*Check for screen sizes 400px and under*/
@media all and (max-width: 400px) {
  /*Form one column*/
  .container > li {
    flex-basis: 100%;
  }
}

/*********************************** Night mode styling below ***********************************/

.night-mode {
  background: #020403;
  color: #d6d2c4;
}

.night-mode a:link {
  color: #00bfb2;
}

.night-mode a:hover {
  color: #41b6e6;
}
.night-mode table#neoTable tbody tr:nth-child(odd) {
	background: rgba(65, 65, 65, 0.40);
}
.night-mode table#neoTable tbody tr:hover {
	background: #d6d2c4;
	color: #020403;
}
.night-mode table#neoTable thead tr th a {
	color: #020403;
	background: #d6d2c4;
}
.night-mode table#neoTable thead tr th a:hover {
	background: #a09c90;
}
